$titleHeight: 36px;
$windowPadding: 2px;
$contentPadding: 12px;

// Global styles
.W95__Window {
  p {
    margin: $contentPadding 0;
  }
}

// Utils

.W95__Window {
  .W95__HorzFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// Components

.W95__Window {
  --bg: #c0c0c0;
  --fg: #000;
  --blue: #000082;
  --white: #fff;
  --clickable: #040080;

  background-color: var(--bg);
  color: var(--fg);
  font-size: 18px;

  font-family: Arial, Helvetica, sans-serif;

  &.m-static {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  &.m-movable {
    position: relative;
  }

  border-top: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

  .W95__WindowBG {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
  }
}

.W95__MovableWindowContainer {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: none;

  .W95__MovableWindowContainer__Centerer {
    pointer-events: none;
    position: absolute;

    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

    & > * {
      pointer-events: auto;
    }
  }
}

.W95__WindowTitle {
  position: absolute;
  top: $windowPadding; right: $windowPadding; left: $windowPadding; height: $titleHeight;
  user-select: none;

  background-color: var(--blue);
  color: var(--white);

  padding-left: 4px;
  line-height: $titleHeight;

  font-weight: bold;
}

.W95__WindowContents {
  position: absolute;
  top: $windowPadding + $titleHeight;
  right: $windowPadding;
  bottom: $windowPadding; 
  left: $windowPadding;

  overflow: auto;
  padding: $contentPadding;
}

.W95__Group {
  position: relative;

  border: 2px solid #808080;

  margin: $contentPadding 0;

  .W95__GroupBG {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -4px;
    right: -4px;
    border: 2px solid #fff;
  }

  .W95__GroupTitle {
    position: absolute;
    background-color: var(--bg);
    top: -0.7em;
    left: $contentPadding - $windowPadding * 2;
    padding: 0 $windowPadding * 2;
  }

  .W95__GroupContents {
    padding: $contentPadding + $windowPadding $contentPadding 0 $contentPadding;
  }
}

.W95__BorderedControl, .W95__List, .W95__Checkbox__Box, .W95__TextInput, .W95__ScrollingText {
  position: relative;
  background-color: white;

  border-top: 2px solid #878a8e;
  border-left: 2px solid #878a8e;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;

  .W95__ControlBG {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #c4c7cb;
    border-bottom: 2px solid #c4c7cb;
  }

}

.W95__TextInput {
  display: inline-block;

  input[type=text] {
    height: 40px;
    line-height: 40px;
    padding: 0 6px;
    border: none;
    max-width: 100%;
  }
}

.W95__Checkbox {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;

  .W95__Checkbox__Box {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
    transform: translate(0, 4px);
    cursor: pointer;

    input {
      visibility: hidden;
    }
  }

  .W95__ControlBG {
    cursor: pointer;
  }

  svg {
    display: block;
    transform: translate(1px, 0);
  }

  label {
    user-select: none;
    cursor: pointer;
  }
}

.W95__List {
  .W95__List__Contents {
    margin: 2px;
  }

  .W95__ListItem {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding-left: 4px;
    overflow-x: scroll;
    overflow-y: hidden;

    &:hover {
      padding-left: 2px;
      line-height: 36px;
      border: 2px dotted #000;
    }

    &.m-selected {
      padding-left: 2px;
      line-height: 36px;
      background-color: var(--blue);
      color: var(--white);
      border: 2px dotted yellow;
    }
  }
}

.W95__ButtonStyling, .W95__Button, .W95__WindowCloseButton, .W95__TinyButton {
  // resets
  background-color: var(--bg);
  color: var(--fg);
  border: none;

  position: relative;
  display: inline-block;

  cursor: pointer;
  user-select: none;

  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

  .W95__ButtonBG {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid #878a8e;
    border-bottom: 2px solid #878a8e;
  }

  .W95__Button__Text {
    display: inline-block;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    .W95__Button__Text {
      transform: translate(2px, 2px);
    }

    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;

    .W95__ButtonBG {
      border-top: 2px solid #878a8e;
      border-left: 2px solid #878a8e;
      border-right: 2px solid #878a8e;
      border-bottom: 2px solid #878a8e;
    }
  }

}

.W95__Button {
  min-width: 44px;
  height: 44px;
  line-height: 44px - $windowPadding * 2;
  padding-top: $windowPadding - 2px;
  padding-right: $windowPadding * 2;
  padding-bottom: $windowPadding;
  padding-left: $windowPadding * 2;

  margin-top: $contentPadding;
  margin-right: $contentPadding;
  margin-bottom: $contentPadding;
  &:last-child { margin-right: 0; }

  font-size: 18px;

  &.m-block {
    display: block;
  }

  &.m-absolute {
    position: absolute;
  }
}

.W95__WindowCloseButton, .W95__TinyButton {
  margin: 6px;
  width: 30px;
  line-height: 22px;
  height: 26px;
  text-align: center;

  svg {
    transform: translate(0, 3px);
  }
}

.W95__WindowCloseButton {
  float: right;
}

.W95__ScrollingText {
  h1, h2, h3 {
    text-align: center;
  }

  .W95__ScrollingText__Content {
    position: absolute;
    top: 2px; right: 2px; bottom: 2px; left: 2px;
    padding: $windowPadding * 2;
    overflow: scroll;

    font-family: 'Times New Roman', Times, serif;
  }
}